:root {
  --Primary-Red: hsl(0, 100%, 74%);
  --Primary-Green: hsl(154, 59%, 51%);
  --Accent-Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);

  --error-bg-color: #fddfe2;
  --success-color: #21a67a;
  --success-bg-color: #e0eee4;

  //hsl(210, 78%, 56%)
  --background-dark: hsl(230, 17%, 14%);
  --Very-Dark-Blue: hsl(230, 17%, 14%);
  // --background-dark: #0d121b;
  --background-dark-2: #161f32;
  --background-dark-3: #262a44;

  --text-dark-1: #d9e6eb;
  --text-dark-2: #c4dde6;
  --text-dark-3: #abc4cc;

  --Strong-cyan: hsl(172, 67%, 45%);

  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);

  --Blue: hsl(246, 80%, 60%);

  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue: hsl(195, 74%, 62%);
  --Light-red: hsl(348, 100%, 68%);
  --Lime-green: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --Soft-orange: hsl(43, 84%, 65%);
}
